
/* background and boxes */
body {
    margin: 2%;
    padding: 0;
    font-family: 'Lato';
}

.container {
    display: flex;
    flex-wrap: wrap;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.left-box, .right-box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-box {
    background-color: #d4d4d4;
}

.right-box {
    background-color: #F5F5F5;
}

@media (min-width: 768px) {
    .left-box {
        flex-basis: 30%;
        max-width: 30%;
    }

    .right-box {
        flex-basis: 70%;
        max-width: 70%;
    }
}



/* contents */
h1 {
    font-size: 6.5em;
    letter-spacing: .1em;
    padding-top: .3em;
    padding-bottom: 0em;
    margin: auto;
}

h2 {
    font-size: 3.9em;
    font-weight: normal;
    letter-spacing: .3em;
    margin: auto;
}

h3 {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: .18em;
    padding-top: .5em;
    margin: auto;
}

h4 {
    font-size: 1.1em;
    color: #F8F8F8;
    letter-spacing: .05em;
    padding: .5em;
    padding-left: 1.5em;
    background-color: #101010;
}


i {
    margin-right: .6em;
}

p {
    font-size: 1.1em;
    margin: 1em auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
}


.portrait {
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.sk {
    padding-bottom: 1em;
    font-size: 1.1em;
    font-weight: bold;
}

.progress {
    width: 100%;
    height: 11px;
    background-color: #C6C6C6;
    border-radius: 20px;
    margin-top: .1em;
}

.progress-fill {
    background-color: #454545;
    border-radius: 20px;
    height: 10px;
}

li {
    padding-bottom: .5em;
}


.work {
}

.company {
    margin: 0px;
    font-weight: bold;
}

.description {
    margin-top: 0;
    margin-left: 40px;
    font-size: 1em;
    line-height: 17px;
}

.course {
    margin: 0px;
    margin-left: 40px;
    font-weight: bold;
    line-height: 20px;
}